@import "colors";
@import "fonts";

.slider_container {
  width: 100%;
  // &:hover {
  // background-color: red !important;
  //   .admin_icons {
  //     display: flex;
  // background-color: red !important;

  //   }
  // }

  &>div {
    ul {
      bottom: 30px;
      li {
        button {
          background-color: transparent;
        }
      }
    }

    

    button {
      width: 30px;
      height: 30px;
      background-color: $dark_green;
      z-index: 100;
      border-radius: 25px;

      &:hover {
        background-color: $green;
      }

      &:focus {
        background-color: $green;
      }

      &:before {
        position: relative;
        top: 1px;
      }

      &:nth-of-type(1) {
        left: 20px;
      }

      &:nth-of-type(2) {
        right: 20px;
      }
    }

    &>div {

      &>div {

        &>div {
          .slide_wrapper {
            height: 70vh;
            display: -webkit-box !important;

            .slide_image {
              width: 100% !important;
              height: auto !important;
              object-fit: cover !important;
            }

            .content_container {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              width: 1440px;
              height: 80%;
              // background-color: red;
              // opacity: .5;

              .title_container {
                text-shadow: 2px 2px 4px #000000;
               
              }
  
              .text_container {
                text-shadow: 2px 2px 4px #000000;
                
              }
            }

            .admin_icons {
              // display: none;
              position: absolute;
              justify-content: space-around;
              display: flex;
              width: 30%;
              top: 40%;
              left: 35%;
              background-color: rgba(255, 255, 255, .6);
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}