.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1440px;
  margin: 50px auto;

  nav {
    margin: auto;
  }
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 1440px) {
  .grid 
    {
    width: 1000px !important;
    
  }
}

@media (max-width: 1024px) {
  .grid {
    width: 700px !important;
  }
}

@media (max-width: 768px) {
  .grid {
    width: 450px !important;
    
  }
}

@media (max-width: 481px) {
  .grid {
    width: 255px !important;
    line-height: 1;
  }
}